@import './themes.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.reveal-on-scroll {
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
}

.reveal-on-scroll.is-visible {
    opacity: 1;
    transform: translateY(0);
}