    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      width: 100%;
      height: 4211px;
      background-color: #1a1a1a;
    }

    .container {
      width: 33.33%;
      height: 100vh;
      float: left;
      position: relative;
      display: inline-block;
      padding-left: 20px;
      padding-right: 20px;
    }

    .image-container {
      width: 30.6%;
      position: fixed;
      height: 200vh;
      transform: translate(0px, 0px);
      transition-duration: 0.6s;
      transition-timing-function: cubic-bezier(0.04, 0.72, 0.09, 0.99) !important;
    }

    #image-container1 {
      transform: translate(0px, -1475px);
    }

    .image {
      position: relative;
      width: 100%;
      height: 33.3%;
      transition: 1s cubic-bezier(0.04, 0.72, 0.09, 0.99);
      background-image: url('https://images.unsplash.com/photo-1506471895742-d523008d053d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=641&q=80');
      background-position: center;
      background-size: cover;
      margin-top: 20px;
    }

    .image1 {
      position: relative;
      width: 100%;
      height: 33.3%;
      transition: 1s cubic-bezier(0.04, 0.72, 0.09, 0.99);
      background-image: url('https://images.unsplash.com/photo-1517436919841-345c048c421d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80');
      background-position: center;
      background-size: cover;
      margin-top: 20px;
    }

    .image2 {
      position: relative;
      width: 100%;
      height: 33.3%;
      transition: 1s cubic-bezier(0.04, 0.72, 0.09, 0.99);
      background-image: url('https://images.unsplash.com/photo-1511966344804-3847f3b298c9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
      background-position: center;
      background-size: cover;
      margin-top: 20px;
    }

    .text {
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      position: fixed;
      z-index: 3;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      font-size: 92px;
      margin-top: 8vh;
      color: #fff;
      font-weight: 900;
    }